body {
  font-family: Arial, sans-serif;
}

.stove {
  width: 400px;
  height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
}

.burners {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.burner-red {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

.burner-green {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
}

.burner-yellow {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
}

.burner-blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
}

.oven {
  text-align: center;
}

.oven-door {
  position: relative;
  width: 150px;
  height: 200px;
  background-color: #ccc;
  margin: 0 auto;
}

.oven-glass {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130px;
  height: 180px;
  background-color: lightblue;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}